

#navbar button {
    background-color: #ededed;
    border: none;
    font-size: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    
}



svg.dmak-svg {
  border: 1px solid #CCCCCC;
  margin-right: 1px;
}
